/*variables*/
:root {
	--color-primary: #000;
	--color-secondary: #fff;
	--color-accent: #fbe850;
	--color-body: #adadad;
	--font-primary: 'Prata', serif;
	--font-secondary: 'Inter', sans-serif;
}

*, *::before, *::after {
	box-sizing: border-box;
}

/*tyopgraphy*/
::selection {
  background: var(--color-accent);
}

html {
	font-size: 62.5%;
}

body {
	background: black;
	padding: 2rem;
}

a {
	text-decoration: none;
	color: var(--color-body);
}

/*buttons*/
.btn {
	padding: 1.5rem 3rem;
	font-size: 2rem;
	border: 0;
	outline: 0;
	font-family: var(--font-primary);
}

.btn-accent {
	background: var(--color-accent);
}

/*icons*/
.icon {
	width: 30px;
	height: 20px;
}

.icon--white {
	fill: white;
}

.icon--grey {
	fill: #ccc;
}

/*lists*/
.lists {
	font-size: 1.8rem;
	font-family: var(--font-secondary);
	list-style: none;
	display: none;
}

.lists li {
	padding: 1.5rem;
}

@media screen and (min-width: 900px) {
	.lists {
		display: flex;
	}
}

/*Companies block*/
.companies-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  margin: -10px; 
}

.companies-block img {
  flex: 0 0 calc(50% - 20px);
  margin: 10px;
}

@media (min-width: 768px) {
  .companies-block img {
    flex: 0 0 calc(33.33% - 20px);
  }
}

@media (min-width: 1024px) {
  .companies-block {
    flex-wrap: nowrap;
  }
  .companies-block img {
    flex: 0 0 calc(16.66% - 20px);
  }

}
