/*variables*/
:root {
	--color-primary: #000;
	--color-secondary: #fff;
	--color-accent: #fbe850;
	--color-body: #adadad;
	--font-primary: 'Prata', serif;
	--font-secondary: 'Inter', sans-serif;
}

*, *::before, *::after {
	box-sizing: border-box;
}

/*tyopgraphy*/
::selection {
  background: var(--color-accent);
}

html {
	font-size: 62.5%;
}

body {
	background: black;
	padding: 2rem;
}

a {
	text-decoration: none;
	color: var(--color-body);
}

h1, h2, h3 {
	color: white;
	font-family: var(--font-primary);
	font-size: 4rem;
	font-weight: 300;
	line-height: 1.3;
}

h1::selection, 
h2::selection,
h3::selection {
	color: black;
}

p {
	color: var(--color-body);
	font-family: var(--font-secondary);
	font-size: 1.75rem;
	line-height: 1.6;
}

p::selection {
	color: black;
}

/*buttons*/
.btn {
	padding: 1.5rem 3rem;
	font-size: 2rem;
	border: 0;
	outline: 0;
	font-family: var(--font-primary);
}

.btn-accent {
	background: var(--color-accent);
}

/*icons*/
.icon {
	width: 30px;
	height: 20px;
}

.icon--white {
	fill: white;
}

.icon--grey {
	fill: #ccc;
}

/*lists*/
.lists {
	font-size: 1.8rem;
	font-family: var(--font-secondary);
	list-style: none;
	display: none;
}

.lists li {
	padding: 1.5rem;
}

@media screen and (min-width: 900px) {
	.lists {
		display: flex;
	}
}

/*Companies block*/
.companies-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  margin: -10px; 
}

.companies-block img {
  flex: 0 0 calc(50% - 20px);
  margin: 10px;
}

@media (min-width: 768px) {
  .companies-block img {
    flex: 0 0 calc(33.33% - 20px);
  }
}

@media (min-width: 1024px) {
  .companies-block {
    flex-wrap: nowrap;
  }
  .companies-block img {
    flex: 0 0 calc(16.66% - 20px);
  }

}

/*links*/
.feature-card .link-arrow {
	color: white;
	font-family: var(--font-primary);
	font-size: 3.5rem;
	font-weight: 300;
}

.link-arrow::after {
  content: "\2192";
  margin-left: 15px;
  transition: margin 0.15s;
  font-size: 3rem;
}

.link-arrow:hover::after {
  margin-left: 20px;
}

/*feature block*/
.feature-card {
	padding: 2.5rem 0;
}

.feature__image-container {
	margin-bottom: 3rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.feature__image {
	width: auto;

	transition: transform .7s;
}

.feature__image:hover {
	transform: scale(1.1);
}

@media screen and (min-width: 548px) {
	.feature__image {
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.feature__image {
		width: 100%;
		height: 310px;
		object-fit: cover;
	}
}
 @media screen and (min-width: 1000px) {
 	.feature__image {
 		width: 100%;
 		height: 100%;
 	}
}